<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>封面</title>
</head>
<body style="text-align: center;">
	<img src="img/cover.jpg" />
	<h3><%=author%>的豆瓣日志</h3>
</body>
</html>